#textinho:focus {
  border: 2px solid rgba(0, 225, 255, 0.493);
  outline: 2px solid rgb(0, 110, 255);
  background-color: rgba(57, 151, 238, 0.315);
  color: blueviolet;
  
}


hr {
  opacity: 0;
}

.form-header {
  padding: 50px;
  background-color: rgb(245, 245, 245);
  margin: 40px 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 2px solid rgb(235, 235, 235);
}

.input-group-text {
 text-align: start;
 width: 50%;
}